.container {
  display: flex;
  justify-content: space-around;
  background-color:white;
}

.filter-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px; 
 flex: 0 0 30%;
}

.filter {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
#typo{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 50px;font-weight: 100;
  color: lightseagreen;
  background-color: white;
  font-weight: 800;
}

.shoes-list {
  flex: 0 0 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  
}
#re_set{
  display: flex;
  flex-direction: column;
  max-width: max-content;
  min-width: min-content;
}
.info{
  margin-bottom: 10px;
}
.shoe {
  width: calc(60% - 80px); 
  margin-bottom: 20px;
  display: flex;
  gap:48px;
}
.parent{
    border: 2px solid whitesmoke;  
  box-shadow: 5px 5px 5px 4px floralwhite;
}

.shoe img {
  width: 100%;
  height: auto;
}

.shoeName{
  display: flex;
  flex-direction: column;
   border: 2px solid white;
  box-shadow: 0 8px 4px 0 whitesmoke
}
.shoeRating{
  display: flex;
  flex-direction: column;
   border: 2px solid white;
  box-shadow: 0 8px 4px 0 whitesmoke
}
.shoePrice{
  display: flex;
  flex-direction: column;
   border: 2px solid white;
  box-shadow: 0 8px 4px 0 whitesmoke
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}
.pagination button {
  cursor: pointer;
  background-color: rgb(53, 53, 215);
  color :rgb(50, 7, 7);
  font-size: medium;
  font-weight: 700;
  border-radius: 20px;
  margin: 0 5px;
  width:100px;
  height:50px;

}
.pagination button:hover{
  border-color: rgb(57, 14, 97);
}
 button{
  background-color: blue;
  color: antiquewhite;
  box-shadow: 0.1px 0.1px 0 0 white;
   border:1px solid blue;
   width:150%;
}
@media (max-width: 768px) {
  .shoe img {
    width:100px;
    height:85px;
  }
  .filter{
   margin-left:80px; 
}
}

















