.carousel-container {
       width: 99%; /* Set the carousel container to full width */
        max-width: 99%; /* Ensure it doesn't exceed the screen width */
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: aliceblue;
      }
      #sp{
        height: 100px;
        background-color: aliceblue;
      }
      
   /* Set a fixed height for the carousel */
      .carousel-container .carousel {
         height: 400px; /* Adjust the height as per your requirement */
       }
      
      /* Styles for individual shoe slides */
       .shoe-slide {
         display: flex;
         flex-direction: column;
         align-items: center;
              justify-content: center;
         text-align: center;
      }
      
      /* Responsive styles for smaller screens */
      @media (max-width: 768px) {
         /* Adjust the height for smaller screens */
         .carousel-container .carousel {
          height: 300px; /* Adjust the height for smaller screens */
         }
   }